@page
@model BankStartWeb.Pages.Customerpages.TransactiondetalsModel
@{
}
<div><h4>Transaktionsöversikt för kund: @Model.FullName</h4></div>
<div><h4>Kontonummer: @Model.Id</h4></div>

<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <table class="table" id="posts-table">
            <tr>
                <th>Id</th>
                <th>Transaction</th>
                <th>Operation</th>
                <th>Deb</th>
                <th>Belopp</th>
                <th>NewBalance</th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <a class="btn" href="javascript:fetchMore();">Visa 20 till</a>
        

    </div>
</div>



@section Scripts
{
    <script>
        pageNo = 1;
        function fetchMore() {
            fetch("Transactiondetals?handler=FetchMore&pageNo=" + pageNo + "&accountId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        pageNo = pageNo + 1;
                        json.items.forEach(tableElements);
                    }
                );
        }

/*
 *
         lastPage = 0;
        function fetchMore() {
            fetch("View?handler=FetchMore&lastPage=" + lastPage + "&personId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        lastPage = lastPage + 1;
                        json.items.forEach(tableElements);
                    }
                );
        }

 *
 */ 

        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.id}</td>
        <td>${element.date}</td>
        <td>${element.operation}</td>
        <td>${element.transactionType}</td>
        <td>${element.amount}</td>
        <td>${element.newBalance}</td>
        <td></td>
    </tr>`;
        }

        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });
     
    </script>    
}