@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-page="/CustomerPages/Customer" method="get">
    <input asp-for=@Model.customerId ></input>
    <input type="submit" value="Sök efter kund"></input>
</form>



Antal konton:  @Model.NumOfAccounts

Antal kunder:  @Model.NumOfCustomers
